body {
  background: linear-gradient(45deg, #f44336 1%, #e91e63 12%, #9c27b0 24%, #3f51b5 36%, #2196f3 48%, #00bcd4 60%, #4caf50 72%, #ffeb3b 84%, #ff9800 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #585858;
}

.nav-wrapper {
  padding-left: 10px;
}
.nav-wrapper .brand-logo {
  height: 100%;
}
.nav-wrapper .brand-logo img {
  height: 100%;
}
.nav-wrapper .btn, .nav-wrapper .btn-large {
  background-color: grey;
}

.container {
  text-align: center;
}
.container h1, .container h2, .container h3, .container h4 {
  font-family: 'Poiret One';
}
.container h1 {
  margin: 50px 0;
  line-height: 100%;
  font-size: 63px;
}
.container h2 {
  font-size: 53px;
  margin: 50px 0 40px;
}
.container p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.container .row {
  margin-top: 30px;
}

.full-height {
  min-height: 50vh;
}
.full-height .centered-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.circle-bottom-section {
  padding-bottom: 50px;
}

.circle-top-section {
  padding-top: 50px;
}

.rect-container {
  display: flex;
  flex-wrap: wrap;
  height: calc(300px + .5rem);
  justify-content: space-between;
  margin-top: .5rem;
}

.rect1, .rect2, .rect3, .rect4 {
  min-width: 100%;
  border-color: #ffffff;
  margin-bottom: .5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.rect2 {
  min-width: 48%;
}

.rect3 {
  min-width: 22%;
}

.rect4 {
  min-width: 13.33%;
}

.square-word {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.introw h1 {
  font-size: 80px;
}

section {
  min-height: 50vh;
  padding: 50px 10px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
  opacity: 0.5;
}

.emphasis {
  padding: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 2px;
}
